* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #0101f2;
    --color-text: #e0e0e0;
    --color-placeholder: #2020ff;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 32px;
    align-items: center;
    padding: 64px 32px;
}

/* placeholder for image */
.hero-image {
    aspect-ratio: 3 / 4;
    background-color: var(--color-placeholder);
}

.hero-title {
    font-weight: 300;
    font-size: 72px;
    line-height: 90%;
    letter-spacing: -2px;
    text-transform: uppercase;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'BarlowCondensed';
    font-weight: 300;
}

nav {
    display: grid;
    grid-template-columns: 1fr 0.4fr 1fr;
    align-items: center;
    padding: 16px 32px;
    font-family: 'BarlowCondensed';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
}

.nav-links {
    color: var(--color-text);
    display: flex;
    justify-content: space-around;
}

.nav-center {
    color: var(--color-text);
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 90%;
    letter-spacing: -1px;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

@font-face {
    font-family: 'BarlowCondensed';
    src: url("/fonts/BarlowCondensed-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'BarlowCondensed';
    src: url("/fonts/BarlowCondensed-Medium.ttf");
    font-weight: 500;
}